.student-list-container {
  .header {
    padding-bottom: 1rem;

    .button {
      width: 24%;

      button {
        padding: 0 1rem;
      }
    }
  }

  .student-list {
    .mat-table {
      width: 100%;
      height: 100%;

      .edit {
        margin-right: 1rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 50%;
        background-color: lightcoral;
        color: white;
      }

      .details {
        padding-left: 1rem;
      }
    }
  }
}
